html {
	background-color: #BEF781;
}
h1 {
	text-align: center;
}
p{
	margin-left: 200px;
	margin-right: 200px;
}
h2{
	margin-left: 200px;
	margin-right: 200px;
}
h3{
	margin-left: 200px;
	margin-right: 200px;
}
img{
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}