html {
	background-image: url(background.jpg);
}
h1 {
	text-align: center;
}
p{
	margin-left: 19%;
	margin-right: 19%;
}
img{
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}